<p id="notice"><%= notice %></p>

<h1>Signatures</h1>

<%= link_to '+ New Signature', new_signature_path, class: "btn btn-primary" %>

<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Labels</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signatures.each do |signature| %>
      <tr>
        <td><%= signature.name %></td>
        <td><%= signature.labels %></td>
        <td><%= link_to 'Show', signature %></td>
        <td><%= link_to 'Edit', edit_signature_path(signature) %></td>
        <td><%= link_to 'Destroy', signature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>