<h1>AutoExam</h1>

<ul class="nav nav-tabs nav-justified">
  <% count = 0 %>
  <% @signatures.each do |signature| %>
      <% sig_name = Signature.find(signature).name %>
      <li><a data-toggle="tab" aria-controls="<%= count %>" href="#<%= count %>"><%= sig_name %></a></li>
      <% count += 1 %>
  <% end %>
</ul>

<div class="tab-content">
  <% count = 0 %>
  <% @signatures.each do |signature| %>
      <div class="tab-pane" id="<%= count %>">
        <div class="col-md-6">
          <% @signature_id = signature %>
          <%= render partial: 'user_questions' %>
        </div>
      </div>
      <% count += 1 %>
  <% end %>
</div>