<h1>AutoExam</h1>
<p>...</p>

<ul class="nav nav-tabs" role="tablist">
  <% @signatures.each do |signature| %>
    <li><a data-toggle="tab" aria-controls="<%= signature %>" href="#<%= signature %>"><%= signature %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% @signatures.each do |signature| %>
      <div class="tab-pane" id="<%= signature %>">
        <% Question.find_by_signature_id(signature).each do |question| %>
          <p><%= question %></p>
        <% end %>
      </div>
  <% end %>
</div>