<head>
  <link href="c3.css" rel="stylesheet">
</head>

<body>
  <script src= "d3-4.13.0.min.js" charset="utf-8"></script>
  <script src="c3.min.js"></script>

  <h1><%= @exam.title %></h1>
  <h2><%= @exam.header %></h2>

  <h3>Signature: <%= @exam.signature.name %></h3>

  <h4>Version: <%= params['version'] %></h4>

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" aria-controls="Tests" href="#Tests">Tests</a></li>
    <li><a data-toggle="tab" aria-controls="Answers" href="#Answers">Answers</a></li>
    <li class="active"><a data-toggle="tab" aria-controls="Statics" href="#Statics">Statics</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="Tests">
      <br/>
      <% @file_list.each do |f| %>
        <% if f[0] == 'T' %>
              <li><%= link_to f, {:controller => "exams", :action => "show_pdf_file", :path => @files_path + '/' + f }, :target => "_blank" %></li>
        <% end %>
      <% end %>
      <br/>
      <%= link_to 'Download All', {:controller => "exams", :action => "show_pdf_file", :path => @files_path, :to_do => "Test" } , :class => "btn btn-success", :target => "_blank" %>
    </div>

    <div class="tab-pane" id="Answers">
      <br/>
      <% @file_list.each do |f| %>
          <% if f[0] == 'A' %>
              <li><%= link_to f, {:controller => "exams", :action => "show_pdf_file", :path => @files_path + '/' + f }, :target => "_blank" %></li>
    <% end %>
      <% end %>
      <br/>
      <%= link_to 'Download All', {:controller => "exams", :action => "show_pdf_file", :path => @files_path, :to_do => "Answer" }, :class => "btn btn-success", :target => "_blank" %>
      <%= link_to "Evaluate Answer", {:controller => "exams", :action => "evaluate_answer", :version => params['version']}, :class => "btn btn-primary" %>
    </div>

    <div class="tab-pane active" id="Statics">
      <% content = "" %>
      <br/>
      <h2>Exam Qualifications</h2>See <%= link_to 'Master.pdf', {:controller => "exams", :action => "show_pdf_file", :path => @files_path+'/Master.pdf'}, :target => "_blank" %> to know the questions.
      <br/>
      <br/>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th><% content += "id" %>
          <% @statics['table'][0].each do |header|%>
              <th>Question<%= header %></th> <% content += ("\t\tQuestion" + header.to_s) %>
          <%end%>
          <th>Note</th> <% content += "\t\tNote\n" %>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
          <% @statics['table'][1].each do |row| %>
              <tr>
              <% row.each do |field|%>
                    <% if field[1] == 2 %>
                        <td><%= field[0] %></td>
                    <% elsif field[1] == 1 %>
                        <td><li class="list-group-item list-group-item-success"><%= field[0] %></li></td>
                    <% else %>
                        <td><li class="list-group-item list-group-item-danger"><%= field[0] %></li></td>
                    <% end %>

                    <% if field[0] == ""
                         content += " \t\t\t"
                       else
                         content += (field[0].to_s + "\t\t\t")
                       end %>

              <% end %>
              </tr>
              <% content += "\n" %>
          <% end %>
        </tbody>
      </table>
      <div class="nav navbar-nav navbar-right"><%= link_to "Export to .txt", {:controller => "exams", :action => "show_pdf_file", :path => @files_path, :to_do => 'Table', :content => content }, :target => "_blank" %></div>

      <br>
      <% @statics['table'][0].each do |question| %>
        <hr>
          <h3 id="<%='jumptoquestion' + question %>">Question <%= question %></h3>

          <div id="<%='question' + question %>" date-source="<%= [['Right Answers'] + [@statics['graph'][0][question.to_i]], ['Wrong Answers'] + [@statics['graph'][1][question.to_i]]]%>"></div>
          <script>
            var dateSource = $("<%='#question' + question %>").attr("date-source");
            var date = JSON.parse(dateSource);
            var chart = c3.generate({
                bindto: '<%='#question' + question %>',
                data: {
                    columns: date,
                    type : 'donut'
                },
                donut: {
                    title: '<%= 'Question ' + question %>'
                }
            });
        </script>

          <div id="<%='graph' + question %>"  date-source="<%= [@statics['marked_options'][question]] %>"></div>
          <script id="<%='graph' + question %>">
              var dateSource = $("<%='#graph' + question %>").attr("date-source");
              var date = JSON.parse(dateSource);
              var chart = c3.generate({
                  bindto: '<%='#graph' + question %>',
                  data: {
                      columns: date,
                      labels: true,
                      type: 'bar'
                  },
                  axis: {
                      x: { label: {text: 'Options', position: 'outer-middle'} } ,
                      y: { label: 'Times Select' }
                  }
              });
          </script>
      <% end %>

    </div>
  <br/>
  <hr>
  <%= link_to 'Back', @exam, :class => "btn btn-primary" %>
  </div>
</body>