<h1><%= @exam.title %></h1>
<h2><%= @exam.header %></h2>

<h3>Signature: <%= @exam.signature.name %></h3>

<h4>Version: <%= params['version'] %></h4>

<ul class="nav nav-tabs">
  <li><a data-toggle="tab" aria-controls="Tests" href="#Tests">Tests</a></li>
  <li><a data-toggle="tab" aria-controls="Answers" href="#Answers">Answers</a></li>
  <li><a data-toggle="tab" aria-controls="Statics" href="#Statics">Statics</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="Tests">
    <br/>
    <% @file_list.each do |f| %>
      <% if f[0] == 'T' %>
            <li><%= link_to f, {:controller => "exams", :action => "show_pdf_file", :path => @files_path + '/' + f } %></li>
      <% end %>
    <% end %>
    <br/>
    <div><span class="glyphicon glyphicon-download"><%= link_to 'Download All', {:controller => "exams", :action => "show_pdf_file", :path => @files_path, :to_do => "Tests" } %></div>
  </div>

  <div class="tab-pane" id="Answers">
    <br/>
    <% @file_list.each do |f| %>
        <% if f[0] == 'A' %>
            <li><%= link_to f, {:controller => "exams", :action => "show_pdf_file", :path => @files_path + '/' + f } %></li>
  <% end %>
    <% end %>
    <br/>
    <div><span class="glyphicon glyphicon-download"><%= link_to 'Download All', {:controller => "exams", :action => "show_pdf_file", :path => @files_path, :to_do => "Answers" } %></div>
    <br>
    <%= link_to "Evaluate Answer", "", :class => "btn btn-primary" %>
  </div>

  <div class="tab-pane" id="Statics">

  </div>
</div>

<br>
<%= link_to 'Back', @exam, :class => "btn btn-primary" %>