<% @exam = Exam.find(params[:id])
   $json_master = JSON.load(@exam.json_master)
   $json_master_validation = JSON.load(@exam.json_master_validation)

   labels = @exam.labels
   if labels.nil?
     labels = []
   else
     labels = labels.remove(' ').split(',')
   end
%>

<h1><%= @exam.title %></h1>
<h2><%= @exam.header %></h2>
<h3><%= Signature.find(@exam.signature_id).name %></h3>

<head></head>
<body>
  <br/>
  <h4>Number of questions:</h4>
  <input id="<%=@exam.id.to_s%>-numQuest" type="number" class="form form-control" placeholder="Number of Questions." onchange="change_key_master('<%=@exam.id.to_s%>-numQuest')" value="<%= $json_master[@exam.id.to_s + '-numQuest'] if not $json_master[@exam.id.to_s + '-numQuest'].nil?%>">
  <br/>
  <h4>Labels:</h4>
  <ul class="nav nav-tabs">
    <% labels.each do |label| %>
      <li><a data-toggle="tab" aria-controls="<%= label %>" href="#<%= label %>"><%= label %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% tab_count = 0 %>
    <% all_questions = Question.where(:signature_id => @exam.signature_id ) %>
    <% labels.each do |label| %>
      <div class="tab-pane" id="<%= label %>">
        <br/>
        <div class="form form-group">
          <label>How many questions:</label>
          <input id="<%=label%>-min" type="number" class="form form-control" placeholder="Minimum." onchange="change_key_master('<%=label+"-min"%>')" value="<%= $json_master[label+"-min"] if not $json_master[label+"-min"].nil?%>">
          <br/>
          <input id="<%=label%>-max" type="number" class="form form-control" placeholder="Maximum." onchange="change_key_master('<%=label+"-max"%>')" value="<%= $json_master[label+"-max"] if not $json_master[label+"-max"].nil?%>">
        </div>

        <% questions_filtered = []
           all_questions.each do |question|
             if not question.labels.remove(' ').split(',').find_index(label).nil?
                questions_filtered.append(question)
             end
           end
           # @questions = Question.where(:id => questions_filtered).paginate(:page => params['question_page'+tab_count.to_s], :per_page => 1)
           questions = questions_filtered
        %>
        <% # will_paginate @questions, :param_name => 'question_page'+tab_count.to_s %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Body</th>
            <th>Min Cost</th>
            <th>Max Cost</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% count = 0 %>
          <% questions.each do |question| %>
              <tr>
                <td><a data-toggle="tab" aria-controls="q<%= tab_count %><%= count %>" href="#q<%= tab_count %><%= count %>"><span class="glyphicon glyphicon-list"></span>Options</a></td>
                <td><%= question.title %></td>
                <td><%= question.body %></td>
                <td><input id="<%=question.id.to_s+"-minCost"%>" onchange="change_key_master('<%=question.id.to_s+"-minCost"%>')" type="number" value="<%= $json_master[question.id.to_s+"-minCost"] if not $json_master[question.id.to_s+"-minCost"].nil?%>"></td>
                <td><input id="<%=question.id.to_s+"-maxCost"%>" onchange="change_key_master('<%=question.id.to_s+"-maxCost"%>')" type="number" value="<%= $json_master[question.id.to_s+"-maxCost"] if not $json_master[question.id.to_s+"-maxCost"].nil?%>"></td>
              </tr>
              <% count += 1 %>
          <% end %>
          </tbody>
        </table>

        <div class="tab-content">
          <% count = 0 %>
          <% questions.each do |question| %>
              <div class="tab-pane" id="q<%= tab_count %><%= count %>">
                <p>Options for: "<%= question.body %>"</p>
                <table class="table table-responsive">
                  <thead>
                  <tr>
                    <th>Body</th>
                    <th>True or false</th>
                    <th>Checked</th>
                    <th>Unchecked</th>
                    <th colspan="3"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <% options = Option.where(:question_id => question.id) %>
                  <% options.each do |option| %>
                      <tr>
                        <td><%= option.body %></td>
                        <td><%= option.true_or_false %></td>
                        <td><input id="<%=question.id.to_s+"-"+option.id.to_s+"-checked"%>" type="number" onchange="change_key_master('<%=question.id.to_s+"-"+option.id.to_s+"-checked"%>')" value="<%= $json_master[question.id.to_s+"-"+option.id.to_s+"-checked"] if not $json_master[question.id.to_s+"-"+option.id.to_s+"-checked"].nil?%>"></td>
                        <td><input id="<%=question.id.to_s+"-"+option.id.to_s+"-uncheck"%>" type="number" onchange="change_key_master('<%=question.id.to_s+"-"+option.id.to_s+"-uncheck"%>')" value="<%= $json_master[question.id.to_s+"-"+option.id.to_s+"-uncheck"] if not $json_master[question.id.to_s+"-"+option.id.to_s+"-uncheck"].nil?%>"></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <% count += 1 %>
          <% end %>
        </div>
        <% tab_count += 1 %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Submit', {:controller => "exams", :action => "update_master"}, class: "btn btn-primary" %>
</body>

<script>
    function change_key_master(key){
        $.ajax({url: "<%= url_for(:action => 'update_json_master') %>", data: {key: key, value: $(key).context.activeElement.valueAsNumber}});
        return false;
    }
</script>