<p id="notice"><%= notice %></p>

<h2>Exam</h2>
<h4><strong>Signature: </strong><%= @exam.signature.name %></h4>
<br/>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Title</strong>
  </div>
  <div class="panel-body"><%= @exam.title %></div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Header</strong>
  </div>
  <div class="panel-body"><%= @exam.header %></div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Description</strong>
  </div>
  <div class="panel-body"><%= @exam.description %></div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Labels</strong>
  </div>
  <div class="panel-body"><%= @exam.labels %></div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Amount</strong>
  </div>
  <div class="panel-body"><%= @exam.amount %></div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Student List</strong>
  </div>
  <div class="panel-body"><%= @exam.students_list %></div>
</div>

<%= link_to 'Edit', edit_exam_path(@exam), class: "btn btn-primary" %>
<%= link_to 'Back', signature_path(@exam.signature_id), class: "btn btn-primary" %>
<%= link_to 'Statics', "#", class: "btn btn-success" %>
<%= link_to 'Generate PDF', {:controller => "exams", :action => "generate_latex"}, class: "btn btn-danger" %>
