<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge,chrome=1"> <meta name=viewport content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "AutoExam" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
<div class="navbar">
  <div class="navbar-text pull-left">
    <%= link_to "AutoExam", home_index_url, class: "btn" %>
    <% if user_signed_in? %>
        <div>
          <button class="btn dropdown-toggle"  id="examMenu" data-toggle="dropdown">
            Exams
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="examMenu">
            <li role="presentation"><a role="menuitem" href="<%= new_exam_path %>">New Exam</a></li>
            <li role="presentation"><a role="menuitem" href="<%= exams_path %>">Exams</a></li>
          </ul>
        </div>

        <% if current_user.role_id == 1 %>
            <div>
              <button class="btn dropdown-toggle"  id="adminMenu" data-toggle="dropdown">
                Admin Panel
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="adminMenu">
                <li role="presentation"><a role="menuitem" href="<%= teachers_path %>">Assing Roles</a></li>
              </ul>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="navbar-text pull-right">
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</div>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<br/>
<%= yield %>
</body>
</html>
