<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8"> <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge,chrome=1"> <meta name=viewport content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "AutoExam" %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
<div class="container">

  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AutoExam</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="<%= home_index_path %>"><span class="glyphicon glyphicon-home"></span>
            Home</a></li>
          <% if user_signed_in? and current_user.role_id == 1 %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-briefcase"></span>
                Administration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= teachers_path %>"><span class="glyphicon glyphicon-user"></span>
                  Assing Roles</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><a class="active">Logged in as <strong><%= current_user.email %></strong></a></li>
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <% if user_signed_in? %>
          <% @signatures = [] %>
          <% Teacher.where(:user_id => current_user.id).each { |t| @signatures.append(t.signature)}  %>
          <ul class="nav nav-sidebar">
            <li><p>My Signatures</p></li>
            <li class="nav-divider"></li>
            <% @signatures.each do |signature| %>
              <li class="active"><a href="<%= signature_path(signature.id) %>"><%= signature.name %></a></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-sm-5 col-sm-offset-2 col-md-9 col-md-offset-1 main">
        <%= yield %>
      </div>
    </div>
  </div>
</div> <!-- /container -->

</body>

</html>
